@import 'tailwindcss';
/* 暗黑模式支持 */
@custom-variant dark (&:where(.dark, .dark *));

@import './tw-marker.css';
@import './tw-md-content.css';
@import './tw-title.css';
@import './tw-table.css';
@import './tw-md-container.css';
@import './tw-VPNavBar.css';
@import './tw-strong.css';
@import './tw-code-highlighted.css';
@import './theme.css';

@plugin "@iconify/tailwind4" {
  prefix: 'iconify';
  scale: 1.2;
}
