/* 试作品，荧光笔动画 */
@layer components {
  .marker-text-highlight {
    @apply relative overflow-hidden z-0;
  }

  .marker-text-highlight::before {
    content: '';
    @apply absolute top-0 left-0 w-full h-full rounded-[5px] z-[-1];
    background-image:
      linear-gradient(
        104deg,
        rgba(130, 255, 173, 0) 0.9%,
        rgba(130, 255, 173, 1.25) 2.4%,
        rgba(130, 255, 173, 0.5) 5.8%,
        rgba(130, 255, 173, 0.1) 93%,
        rgba(130, 255, 173, 0.7) 96%,
        rgba(130, 255, 173, 0) 98%
      ),
      linear-gradient(
        183deg,
        rgba(130, 255, 173, 0) 0%,
        rgba(130, 255, 173, 0.3) 7.9%,
        rgba(130, 255, 173, 0) 15%
      );
    transform: scaleX(0);
    transform-origin: left;
    animation: highlight 1.5s ease-in-out forwards;
  }

  @keyframes highlight {
    to {
      transform: scaleX(1);
    }
  }
}
